/* home bage */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

/* دا الزرار بتاع البانر الكبير */
button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000000;
    background-color: #ffeded;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

/* دا بتاع البنرات الصغيره */
button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent
        /* دعشان يبقا شفاف*/
    ;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

/* ---------------------------------Header------------------------------------- */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 60px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

/* عشان احدد الشكل و نجيبو ع جنب  */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: -7px;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600px;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

/* عشان نعمل خط تحت الكلام  خانه ال active */
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;

}

#close {
    display: none;
}

/* ---------------------------------Header------------------------------------- */

/* ---------------------------------Hero------------------------------------- */

#hero {
    background: #e3e6f3;
    background-image: url(/img/photo/51.png);
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;

    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
}

#hero button {
    background-image: url(/img/hero/button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

/* ---------------------------------hero------------------------------------- */

/* ---------------------------------feature------------------------------------- */
#featuer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#featuer .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#featuer .fe-box:hover {
    box-shadow: 20px 54px 34px rgb(70, 62, 2210, 0.1);
}

#featuer .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#featuer .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#featuer .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#featuer .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#featuer .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#featuer .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#featuer .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

/* ---------------------------------feature------------------------------------- */

/* ---------------------------------product------------------------------------- */

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

/*  دي عشان الم}شر اما يجي ع الخانه يكون في ظل ورها */
#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.08);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .Des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .Des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .Des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 16px;
}

/* دي للنجوم */
#product1 .pro .Des .star {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .Des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

/* دي للعربيه الصغيره اللي جنب ع اليمن */
#product1 .pro .Des .Cart {
    width: 35px;
    height: 35px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #e8f6ea;
    font-weight: 200px;

    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* ---------------------------------product------------------------------------- */

/* ---------------------------------banner------------------------------------- */

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url(img/banner/b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h2 {
    color: #fff;
    font-size: 40px;
    padding: 10px;
}

#banner h4 {
    color: #fff;
    font-size: 16px 0;
}

#banner h2 span {
    color: #ef3636;
}

/* دا عشان تتحول من لون لي لون لما اقف ب المؤشر */
#banner button:hover {
    background: #088178;
    color: #fff;
}

/* دي عشان اما اقف علي الصوره العنصر ينور  الزرار يعني  */
#sm-banner .banner-box:hover button {
    background: #088178;
    border: 1px solid #088178;
}

/* دي عشان اما اقف علي الصوره العنصر ينور  الزرار يعني  */
#sm-banner .banner-box2:hover button {
    background: #088178;
    border: 1px solid #088178;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/*  الصوره الاوله البانر الصغير*/
#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b3.jpg);
    min-width: 480px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin-bottom: 20px;
}

/*  الصوره التنيا البانر الصغير */
#sm-banner .banner-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b2.jpg);
    min-width: 480px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    position: relative;
    top: -10px;
}

#sm-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner .banner-box h2 {
    color: #093835;
    font-size: 21px;
    font-weight: 800;
}

#sm-banner .banner-box2 h2 {
    color: #fff;
    font-size: 19px;
    font-weight: 800;
}

/* ---------------------------------banner------------------------------------- */

/* ---------------------------------Footr------------------------------------- */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #2b2e3b09;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;


}

footer .logo-footer {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 15px 0;
}

footer a {
    font-size: 11px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;

}

footer .icon-follow {
    width: 80px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

footer .pay img {
    margin: 10px 0 15px 0;

}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}

/* ---------------------------------Footr------------------------------------- */

@media (max-width:799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6e3;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.01);


    }
}

#navbar li {
    margin-bottom: 35px;
}



/* __________________________contact bage________________________________*/
#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details form span {
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0%;
    font-size: 14px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#form-details form input,
#form-details form input textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button {
    background-color: #088178;
    color: #fff;

}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

/* _________________newslatter_______________________ */
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/banner/b4.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter .form {
    display: flex;
    width: 39%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

#newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}